@{
    ViewBag.Title = "Practica 1";
}

<div class="jumbotron">
    <h1>PRÁCTICA N°1</h1>
    <p class="mt-4 lead">A continuación podrá acceder a los diferentes ejercicios propuestos en la practica n° 1</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Generalidades</h2>
        <p>
            Vea los ejercicios en detalle.
        </p>
        <p><a class="btn btn-primary" href="/Generalidades/Ejercicios">Ir a los ejercicios</a></p>
    </div>
    <div class="col-md-4">
        <h2>Enumeraciones</h2>
        <p>
            Vea los ejercicios en detalle.
        </p>
 
        <p><a class="btn btn-primary" href="/Enumeraciones/Ejercicios">Ir a los ejercicios</a></p>
    </div>
    <div class="col-md-4">

        <h2>Conversiones</h2>
        <p>
            Vea los ejercicios en detalle.
        </p>

        <p><a class="btn btn-primary" href="/Conversiones/Ejercicios">Ir a los ejercicios</a></p>

    </div>
</div>